<div class="services-container">
    <span class="va"></span>
    <ul class="services">
        <li class="services-item">
            <a href="/{{lang}}/services/research" ui-sref="app.page({slug:'services/research'})">Research</a>
        </li>
        <li class="services-item">
            <a href="/{{lang}}/services/consulting" ui-sref="app.page({slug:'services/consulting'})">Business consulting</a>
        </li>
        <li class="services-item">
            <a href="/{{lang}}/services/trainings" ui-sref="app.page({slug:'services/trainings'})">Business trainings/workshops</a>
        </li>
    </ul>
</div>